.game-leaderboard {
    display: flex;

    position: fixed;
    top: 0;
    right: 0;

    justify-content: right;

    align-items: center;

    width: 0;
    height: 100%;
}

.score-list {
    
}

.score-list-item {
    display: flex;

    position: relative;

    justify-content: space-between;
    align-items: center;

    width: rem(657px, 'large');
    height: rem(55px, 'large');

    padding-right: rem(80px, 'large');
    padding-bottom: rem(3px, 'large');
    padding-left: rem(20px, 'large');

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 47.4%, rgba(255, 255, 255, 0.3) 100%), rgba(255, 255, 255, 0.2);

    // transform: translateX(rem(273px, 'large'));

    border-top-left-radius: rem(10px, 'large');
    border-top-right-radius: rem(0, 'large');
    border-bottom-right-radius: rem(0, 'large');
    border-bottom-left-radius: rem(10px, 'large');

    backdrop-filter: blur(20px);

    &:not(:last-child) {
        margin-bottom: rem(15px, 'large');
    }

    &:before {
        opacity: 0.2;

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: $color-white;

        border-top-left-radius: rem(10px, 'large');
        border-top-right-radius: rem(0, 'large');
        border-bottom-right-radius: rem(0, 'large');
        border-bottom-left-radius: rem(10px, 'large');

        content: '';
    }

    &:nth-child(1) {
        border-top-left-radius: rem(25px, 'large');

        &:before {
            border-top-left-radius: rem(25px, 'large');
        }   
    }
}

.col-left, .col-right {
    display: flex;
    position: relative;

    justify-content: space-between;
    align-items: center;

    height: 100%;
}

.col-left {
    width: rem(262px, 'large');
    min-width: rem(262px, 'large');
}

.col-right {
    width: rem(262px, 'large');
    min-width: rem(262px, 'large');
}

.ranking {
    position: relative;

    width: rem(30px, 'large');
    min-width: rem(30px, 'large');
    height: rem(55px, 'large');

    margin-bottom: rem(2px, 'large');

    font-weight: 900;
    font-size: rem(40px, 'large');
    line-height: rem(54px, 'large');

    text-align: center;

    svg {
        position: absolute;
        top: rem(5px, 'large');
        left: 0;

        width: 90%;
        height: 90%;
    }
}

.username {
    width: rem(203px, 'large');
    height: rem(38px, 'large');

    margin-left: rem(30px, 'large');

    font-weight: 800;
    font-size: rem(28px, 'large');
    line-height: rem(38px, 'large');        
}

.score {
    width: rem(163px, 'large');

    margin-top: rem(4px, 'large');

    font-weight: 900;
    font-size: rem(30px, 'large');
    line-height: rem(41px, 'large');
    text-align: right;

    text-align: right;
}

.date {
    margin-top: rem(4px, 'large');

    font-weight: 500;
    font-size: rem(20px, 'large');
    line-height: rem(27px, 'large');
}