.game-leaderboard {
    display: flex;

    position: fixed;
    top: 0;
    right: 0;

    justify-content: right;

    align-items: center;

    width: 0;
    height: 100%;
}

.score-list-item {
    &:not(:last-child) {
        margin-bottom: rem(15px, 'large');
    }
}