// Colors
$color-black: #000000;
$color-white: #ffffff;

// Fonts
$font-primary: 'Darker Grotesque', sans-serif;

// Misc

// Base font sizes
$base-font-sizes: (
    'small': 1vw,
    'medium': 1vw,
    'large': 1vw,
);

// Base viewport widths
$base-viewport-widths: (
    'small': 375px,
    'medium': 768px,
    'large': 2560px,
);

// Max widths
$max-widths: (
    'small': none,
    'medium': none,
    'large': none
);

// Breakpoints
$breakpoints: (
    'small': (
        min-width: 0,
    ),
    'medium': (
        min-width: 500px,
    ),
    'large': (
        min-width: 850px,
    ),
);

// Easings

// Sin
$sine-in: cubic-bezier(0.12, 0, 0.39, 0);
$sine-out: cubic-bezier(0.61, 1, 0.88, 1);
$sine-in-out: cubic-bezier(0.37, 0, 0.63, 1);

// Cubic
$cubic-in: cubic-bezier(0.32, 0, 0.67, 0);
$cubic-out: cubic-bezier(0.33, 1, 0.68, 1);
$cubic-in-out: cubic-bezier(0.65, 0, 0.35, 1);

// Quad
$quad-in: cubic-bezier(0.11, 0, 0.5, 0);
$quad-out: cubic-bezier(0.5, 1, 0.89, 1);
$quad-in-out: cubic-bezier(0.45, 0, 0.55, 1);

// Quart
$quart-in: cubic-bezier(0.5, 0, 0.75, 0);
$quart-out: cubic-bezier(0.25, 1, 0.5, 1);
$quart-in-out: cubic-bezier(0.76, 0, 0.24, 1);

// Expo
$expo-in: cubic-bezier(0.7, 0, 0.84, 0);
$expo-out: cubic-bezier(0.16, 1, 0.3, 1);
$expo-in-out: cubic-bezier(0.87, 0, 0.13, 1);

// Quint
$quint-in: cubic-bezier(0.64, 0, 0.78, 0);
$quint-out: cubic-bezier(0.22, 1, 0.36, 1);
$quint-in-out: cubic-bezier(0.83, 0, 0.17, 1);

// Circ
$circ-in: cubic-bezier(0.55, 0, 1, 0.45);
$circ-out: cubic-bezier(0, 0.55, 0.45, 1);
$circ-in-out: cubic-bezier(0.85, 0, 0.15, 1);

// Javascript export
:export {
    // Base viewport widths
    @each $key, $value in $base-viewport-widths {
        #{'base-width--' + unquote($key)}: $value;
    }

    // Base font sizes
    @each $key, $value in $base-font-sizes {
        #{'base-font-size--' + unquote($key)}: $value;
    }

    // Max Widths
    @each $key, $value in $max-widths {
        #{'max-width--' + unquote($key)}: $value;
    }
}
