.game-date {
    font-weight: 700;
    font-size: rem(24px, 'large');
    line-height: rem(33px, 'large');
}

.label {
    font-weight: 500;
    font-size: rem(24px, 'large');
    line-height: rem(33px, 'large');
}