html, body {
    position: relative;

    width: 100%;
    height: 100%;

    overflow: hidden;

    margin: 0;

    font-family: $font-primary, Arial, Helvetica, sans-serif;

    font-size: base-font-size('small');

    @include respond-to('medium') {
        font-size: base-font-size('medium');
    }

    @include respond-to('large') {
        font-size: base-font-size('large');
    }

    * {
        box-sizing: border-box;
           
        @include unselectable();
    }
}
