@mixin font-face($font-family, $weight, $style, $url) {
	@font-face {
		font-family: '#{$font-family}';
		src: url('/#{$url}.eot');
        src: url('/#{$url}.eot?#iefix') format('embedded-opentype'),
             url('/#{$url}.woff2') format('woff2'),
		     url('/#{$url}.woff') format('woff'),
		     url('/#{$url}.ttf') format('truetype'),
		     url('/#{$url}.svg') format('svg');
		font-weight: normal;
        font-style: normal;
        font-display: swap;

        font-weight: $weight;
        -webkit-font-smoothing: antialiased;
        -khtml-font-smoothing: antialiased;
        -apple-font-smoothing: antialiased;
        font-smooth: always;
        -moz-osx-font-smoothing: grayscale;
	}
}

// Example
// @include font-face('FontName', 400, 'normal', 'fonts/fontFolder/FontFileName');

// Darker Grotesque
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;600;700;800&display=swap');