.game-details {
    position: absolute;
    top: rem(390, 'large');
    left: rem(1000px, 'large');
}

.title {
    width: rem(810px, 'large');

    margin-bottom: rem(30px, 'large');

    font-weight: 800;
    font-size: rem(96px, 'large');
    line-height: rem(130px, 'large');
}

.description {
    width: rem(810px, 'large');

    margin-bottom: rem(40px, 'large');

    font-weight: 700;
    font-size: rem(24px, 'large');
    line-height: rem(33px, 'large');
}

.game-leaderboard {
    margin-bottom: rem(68px, 'large');
}

.game-credits {
    // margin-bottom: rem(55px, 'large');
}