.page {
    position: relative;
}

.logo {
    opacity: 0;

    position: absolute;
    top: rem(80px, 'large');
    right: rem(80px, 'large');

    width: rem(152.5px, 'large');
    height: rem(60px, 'large');
}